<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 组件扫描：扫描Controller层、公共组件、拦截器 -->
    <context:component-scan base-package="com.huuc.dormitory.controller, com.huuc.dormitory.common, com.huuc.dormitory.interceptor"/>

    <!-- 开启AOP自动代理（用于OperLog切面拦截Controller层） -->
    <aop:aspectj-autoproxy/>

    <!-- 开启MVC注解驱动 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- 引用JacksonConfig中定义的objectMapper -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 视图解析器配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1048576"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 静态资源放行 -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!-- 拦截器注册 -->
    <mvc:interceptors>
        <!-- 登录拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/logout"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/captcha"/>
            <ref bean="loginInterceptor"/>
        </mvc:interceptor>

        <!-- 管理员端权限拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <ref bean="permissionInterceptor"/>
        </mvc:interceptor>

        <!-- 宿管端权限拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/dorm/**"/>
            <ref bean="permissionInterceptor"/>
        </mvc:interceptor>

        <!-- 学生端权限拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/student/**"/>
            <ref bean="permissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
